<%=form_for @shop, html: {multipart: true} do |s| %>

<div class= "small-6 columns">
  <%= s.label :name %>
  <%= s.text_field :name %>
</div>

<div class= "small-6 columns">
  <%= s.label :address %>
  <%= s.text_field :address %>
</div>

<div class= "small-6 columns">
  <%= s.label :site %>
  <%= s.text_field :site %>
</div>

<div class= "small-6 columns">
  <%= s.label :phone %>
  <%= s.text_field :phone %>
</div>

<div class= "small-6 columns">
  <%= s.label :wifi_up %>
  <%= s.text_field :wifi_up %>
</div>

<div class= "small-6 columns">
  <%= s.label :wifi_down %>
  <%= s.text_field :wifi_down %>
</div>

<div class= "small-6 columns">
  <%= s.label :outlet_rating %>
  <%= s.text_field :outlet_rating %>
</div>

<div class= "small-6 columns">
  <%= s.label :hrs_wkday %>
  <%= s.text_field :hrs_wkday %>
</div>

<div class= "small-6 columns">
  <%= s.label :hrs_saturday %>
  <%= s.text_field :hrs_saturday %>
</div>

<div class= "small-6 columns">
  <%= s.label :hrs_sunday %>
  <%= s.text_field :hrs_sunday %>
</div>
<div class= "small-12 large-6 columns">
  <%= image_tag(@shop.shop_image) if @shop.shop_image? %>
  <%= s.file_field :shop_image %>
  <%= s.hidden_field :shop_image_cache %>
</div>

<div class= "small-12 large-6 columns">
  <%= s.submit  name = "Commit the Coffeeshop", class: 'button expand' %>
</div>
<% end %>
