<div class='small-12 columns'>
  <h1><%= link_to shop.name, shop %></h1>
  <h2><%= shop.address %></h2>
  <ul>
    <li>Wifi Up: <%= shop.wifi_up %></li>
    <li>Wifi Down: <%= shop.wifi_down %></li>
    <li>Power: <%= shop.outlet_rating %></li>
    <li>Noise: <%= shop.noise %></li>
  </ul>
</div>
