<%= render 'shared/shops_index', shop: shop %>

<div class='small-12 columns'>
  <h2><%= link_to shop.site %></h2>
  <h2><%= shop.phone %></h2>
  <table>
    <tr>
      <td>Weekday Hours</td>
      <td><%= shop.hrs_wkday %></td>
    </tr>
    <tr>
      <td>Saturday Hours</td>
      <td><%= shop.hrs_saturday %></td>
    </tr>
    <tr>
      <td>Sunday Hours</td>
      <td><%= shop.hrs_sunday %></td>
    </tr>
  </table>
</div>

<% if admin_signed_in? %>
<%= link_to 'edit', edit_shop_path(shop) %> | <%=link_to 'delete', shop, method: :delete, data: {confirm: "Wow did they try to sue? Blow it away then!"} %>
<% end %>
